<div class="card h-100">
  <div class="card-header pb-0 p-3">
    <div class="row">
      <div class="col-md-8 d-flex align-items-center">
        <h5 class="mb-0">Create Portfolio</h5>
      </div>
      <div class="col-md-4 text-end">
        <a href="javascript:;">
          <i
            class="fas fa-user-edit text-secondary text-sm"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Edit Profile"
          ></i>
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form role="form" [formGroup]="tradeFormGroup" (ngSubmit)="createPortfolio()">
      <label>Portfolio Name</label>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Portfolio Name"
          aria-label="text"
          aria-describedby="text-addon"
          formControlName="ticker"
          required
        />
      </div>

      <div class="text-center">
        <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">
          Create Portfolio
        </button>
      </div>
    </form>
  </div>
</div>
