<div class="card h-100">
  <div class="card-header pb-0 p-3">
    <div class="row">
      <div class="col-md-8 d-flex align-items-center">
        <h5 class="mb-0">TRADE</h5>
      </div>
      <div class="col-md-4 text-end">
        <a href="javascript:;">
          <i
            class="fas fa-user-edit text-secondary text-sm"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Edit Profile"
          ></i>
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form role="form" [formGroup]="tradeFormGroup" (ngSubmit)="makeTrade()">
      <label>Product</label>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          value="{{portfolioName}}"
          placeholder="{{portfolioName}}"
          aria-label="Product"
          aria-describedby="text-addon"
          formControlName="product"
        />
      </div>
      <label>Quantity</label>
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          placeholder="Quantity"
          aria-label="text"
          aria-describedby="text-addon"
          formControlName="quantity"
        />
      </div>
      <label>Price</label>
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          placeholder="Price"
          aria-label="text"
          aria-describedby="text-addon"
          formControlName="price"
        />
      </div>
      <div class="mb-3">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Side</label>
          <select class="form-control" formControlName="side" id="exampleFormControlSelect1">
            <option disabled selected>Choose...</option>
            <option value="Buy">Buy</option>
            <option value="Sell">Sell</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Type</label>
          <select class="form-control" formControlName="type" id="exampleFormControlSelect1">
            <option disabled selected>Choose...</option>
            <option value="Market">Market</option>
            <option value="Limit">Limit</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Portfolio</label>
                <select class="form-control" formControlName="portfolio" id="exampleFormControlSelect1">
                  <option disabled selected>Choose...</option>
                  <option value="{{item.id}}" *ngFor="let item of portfolios" >{{item.ticker}}</option>
                </select>
              </div>
          </div>
      <div class="text-center">
        <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">
          Trade
        </button>
      </div>
    </form>
  </div>
</div>
